* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #333;
}
body {
    font-size: 12px;
    color: #333;
    padding-bottom: 50px;
}
.mt20{
  margin-top: 30px
}
.clearfix:after {
    content: ',';
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
}
#container {
    width: 100%;
}
header {
    width: 100%;
    height: 93px;
    box-sizing: border-box;
    border-bottom: 2px #333 solid;
    line-height: 93px;
    font-size: 2.5em;
    text-align: center;
}
header a {
    color: #3a86ff;
    transform: scale(1.5);
    display: inline-block;
}
header a:hover {
    text-decoration: underline;
}
.field-wrapper {
    padding: 20px 20px;
    border-radius: 5px;
    border: solid 1px #ccc;
    box-sizing: border-box;
}
.intro-text {
  text-align: center;
  margin: 10px 0;
}
.field-head {
    font-size: 2em;
    padding: 30px 0;
}
.left-content {
    float: left;
    width: 30%;
    line-height: 1.5;
}
.right-demo {
    float: left;
    width: 70%;
}
pre {
    margin: 16px 0;
    border-radius: 5px;
    overflow: hidden;
}
